# Node modules
node_modules/
npm-debug.log

# Environment files
.env

# Firebase-related files
firebase-debug.log
.firebase/

# Vite build files
dist/
.vite/

# Dependency lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# VS Code settings
.vscode/

# IntelliJ IDEA files
.idea/
*.iml
out/


# System files
.DS_Store
Thumbs.db

# Logs and cache
logs/
*.log
.cache/
